.checkbox {
  display: inline;
  margin:10px;
}

.jumbotron {
  background-image: url(images.jpeg);
  color: #072838;
  text-align: center;
  opacity: .5;
}

 .jumbotron h1 {
    font-stretch: extra-expanded;
    font-size: 10em;
  }


.well {
  background: #add8e6;

}

.container {
  position: center;
}

body {
  background-color: #ddd;
}

